[Desktop Entry]
Type=Application
Name=Show default conky
Exec=bash -c '/usr/local/bin/show-default-conky; rm ~/.config/autostart/default-conky.desktop'